@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


p,
a {
    font-family: 'IBM Plex Mono', monospace;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Work Sans', sans-serif;
}

.top-white-space {
    height: 30px;
}

.navbar {
    padding: 0 10%;
}

.navbar-toggler {
    border-radius: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.fadeindown {
    animation: fadeInDown;
    animation-duration: 2s;
}

.fadein {
    animation: fadeIn;
    animation-duration: 2s;
}

.heartbeat{
    animation: heartBeat;
    animation-duration: 1s;
    animation-delay: 2s;
}

#hero {
    height: 60vh;
    margin-left: 2%;
    margin-right: 2%;
    background-color: ;
    background: linear-gradient(#5F00BAdd, #131112dd), url("assets/img/Portafolio-01.png");
    background-size: cover;
    background-attachment: fixed;
}

#hero .title {
    color: white;
    font-size: 55px;
    font-weight: 700;
    padding: 10px 20px;
    border: 1px solid #fff;
}

#intro {
    padding-top: 70px;
}

.margen {
    margin-left: 10%;
    margin-right: 10%;
}

.foto-margen {
    margin-left: 10%;
    margin-right: 10%;
}

@media (max-width: 575px) {
    #hero .title {
        color: white;
        font-size: 35px;
        font-weight: 700;
        padding: 10px 20px;
        border: 1px solid #fff;
    }

    .margen {
        margin-left: 3%;
        margin-right: 3%;
    }

    .foto-margen {
        margin-left: 0%;
        margin-right: 0%;
    }
}

.collab {
    font-size: 15px;
    background-color: #f4f2f5;
    color: #5F00BA;
    padding: 10px 20px;
    font-family: 'Work Sans', sans-serif;
}

.collab:hover {
    background-color: #5F00BA;
    color: white;
}

#intro #insta {
    font-weight: 800;
    color: black;
    text-decoration: none;
}

#intro #insta:hover {
    color: #5F00BA;
}

#galeria {
    padding-top: 30px;
    padding-bottom: 70px;
}


#galeria a {
    color: #000;

}

#galeria .title {
    padding-top: 20px;
    color: #000;
}

#galeria .detail {
    color: #0000008c;

}

#galeria .project {
    padding: 15px;
}

#galeria .project:hover {
    box-shadow: 3px 3px 15px #00000033;
    animation: pulse;
    animation-duration: 1s;
}

#galeria .project .img {
    height: 300px;
    background-size: cover;
    background-position: center;
}

#galeria .foto {
    height: 350px;
    background-size: cover;
    background-position: center;
}



#galeria .project .img-1 {
    background-image: url("./assets/img/sccover.jpg");
}

#galeria .project .img-2 {
    background-image: url("./assets/img/rccover.jpg");
}

#galeria .project .img-3 {
    background-image: url("./assets/img/cmcover.jpg");
}

#galeria .project .img-4 {
    background-image: url("./assets/img/lxcover.jpg");
}

#galeria .project .img-5 {
    background-image: url("./assets/img/gj8.jpg");
}

#galeria .project .img-6 {
    background-image: url("./assets/img/28scover.jpg");
}

footer {
    min-height: 300px;
    background-color: #5f00ba;
    color: white;
    padding-top: 100px;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 100px;
}

footer .social {
    font-size: 24px;
    color: white !important;
}

footer .social i {
    margin-left: 20px;
}

footer .social:hover {
    font-size: 23px;
    color: #ffffffaa !important;
}

footer .title-footer {
    color: white;
    font-weight: 700;
}

footer .subtitle-footer {
    color: white;
    font-weight: 100;
    letter-spacing: 3px;
}

footer .dp-block {
    display: block;
    /* display: block es para que los elementos se muestren en columnas*/
}

footer .copyright {
    color: #ffffffaa !important;
    font-size: 13px;
}

.a-white {
    color: white;
}

.a-white:hover {
    color: #ffffffaa !important;
}

.sans {
    font-family: 'Work Sans', sans-serif !important;
}

.boton {
    border: 1px solid #00000033;
    background-color: #fff;
    color: black !important;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
}

.boton:hover {
    animation: pulse;
    animation-duration: 1s;
}

.sticky-btn {

    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    background-color: #f4f2f5;
    color: #5F00BA!important;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 20px;
    text-align: center;
    font-family: 'Work Sans', sans-serif !important;
}

.sticky-btn:hover {
    background-color: #5F00BA;
    color: white !important;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*///////////////////////////SESIONES//////////////////////////////*/
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/


/*******Santo Cafeto********/
#galeria .sc1 {
    background-image: url("./assets/img/sc1.jpg");
}

#galeria .sc2 {
    background-image: url("./assets/img/sc2.jpg");
}

#galeria .sc3 {
    background-image: url("./assets/img/sc3.jpg");
}

#galeria .sc4 {
    background-image: url("./assets/img/sc4.jpg");
}

#galeria .sc5 {
    background-image: url("./assets/img/sc5.jpg");
}

#galeria .sc6 {
    background-image: url("./assets/img/sc6.jpg");
}

#galeria .sc7 {
    background-image: url("./assets/img/sc7.jpg");
}

#galeria .sc8 {
    background-image: url("./assets/img/sc8.jpg");
}

#galeria .sc9 {
    background-image: url("./assets/img/sc9.jpg");
}

#galeria .sc10 {
    background-image: url("./assets/img/sc10.jpg");
}

#galeria .sc11 {
    background-image: url("./assets/img/sc11.jpg");
}

#galeria .sc12 {
    background-image: url("./assets/img/sc12.jpg");
}

/*******Fin Santo Cafeto********/

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*******Rabia Cafe********/

#galeria .rc1 {
    background-image: url("./assets/img/rc1.jpg");
}

#galeria .rc2 {
    background-image: url("./assets/img/rc2.jpg");
}

#galeria .rc3 {
    background-image: url("./assets/img/rc3.jpg");
}

#galeria .rc4 {
    background-image: url("./assets/img/rc4.jpg");
}

#galeria .rc5 {
    background-image: url("./assets/img/rc5.jpg");
}

#galeria .rc6 {
    background-image: url("./assets/img/rc6.jpg");
}

#galeria .rc7 {
    background-image: url("./assets/img/rc7.jpg");
}

#galeria .rc8 {
    background-image: url("./assets/img/rc8.jpg");
}

/*******Fin Rabia Cafe********/

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*******Rabia Cafe********/

#galeria .cm1 {
    background-image: url("./assets/img/cm1.jpg");
}

#galeria .cm2 {
    background-image: url("./assets/img/cm2.jpg");
}

#galeria .cm3 {
    background-image: url("./assets/img/cm3.jpg");
}

#galeria .cm4 {
    background-image: url("./assets/img/cm4.jpg");
}

#galeria .cm5 {
    background-image: url("./assets/img/cm5.jpg");
}

#galeria .cm6 {
    background-image: url("./assets/img/cm6.jpg");
}

#galeria .cm7 {
    background-image: url("./assets/img/cm7.jpg");
}

#galeria .cm8 {
    background-image: url("./assets/img/cm8.jpg");
}

/*******Fin Cafeto de Mathieu********/

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*******Lexdon********/

#galeria .lx1 {
    background-image: url("./assets/img/lx1.jpg");
}

#galeria .lx2 {
    background-image: url("./assets/img/lx2.jpg");
}

#galeria .lx3 {
    background-image: url("./assets/img/lx3.jpg");
}

#galeria .lx4 {
    background-image: url("./assets/img/lx4.jpg");
}

#galeria .lx5 {
    background-image: url("./assets/img/lx5.jpg");
}

#galeria .lx6 {
    background-image: url("./assets/img/lx6.jpg");
}

#galeria .lx7 {
    background-image: url("./assets/img/lx7.jpg");
}

#galeria .lx8 {
    background-image: url("./assets/img/lx8.jpg");
}

/*******Fin Lexdon********/

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*******GyJ********/

#galeria .gj1 {
    background-image: url("./assets/img/gj1.jpg");
}

#galeria .gj2 {
    background-image: url("./assets/img/gj2.jpg");
}

#galeria .gj3 {
    background-image: url("./assets/img/gj3.jpg");
}

#galeria .gj4 {
    background-image: url("./assets/img/gj4.jpg");
}

#galeria .gj5 {
    background-image: url("./assets/img/gj5.jpg");
}

#galeria .gj6 {
    background-image: url("./assets/img/gj6.jpg");
}

#galeria .gj7 {
    background-image: url("./assets/img/gj7.jpg");
}

#galeria .gj8 {
    background-image: url("./assets/img/gj8.jpg");
}

/*******Fin GyJ********/

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/


/*******20S********/
#galeria .s28s1 {
    background-image: url("./assets/img/28s1.jpg");
}

#galeria .s28s2 {
    background-image: url("./assets/img/28s2.jpg");
}

#galeria .s28s3 {
    background-image: url("./assets/img/28s3.jpg");
}

#galeria .s28s4 {
    background-image: url("./assets/img/28s4.jpg");
}

#galeria .s28s5 {
    background-image: url("./assets/img/28s5.jpg");
}

#galeria .s28s6 {
    background-image: url("./assets/img/28s6.jpg");
}

#galeria .s28s7 {
    background-image: url("./assets/img/28s7.jpg");
}

#galeria .s28s8 {
    background-image: url("./assets/img/28s8.jpg");
}

#galeria .s28s9 {
    background-image: url("./assets/img/28s9.jpg");
}

#galeria .s28s10 {
    background-image: url("./assets/img/28s10.jpg");
}

#galeria .s28s11 {
    background-image: url("./assets/img/28s11.jpg");
}

#galeria .s28s12 {
    background-image: url("./assets/img/28s12.jpg");
}

/*******Fin 20S********/